.container_piture {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.1);
}

.test {
  display: flex;
  width: 80vw;
  align-items: center;
}

.hr_project {
  width: 80%;
  margin: auto;
  height: 4px;
  color: #29f3c3;
  background-color: #29f3c3;
}

.container_infos {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.box_project {
  margin-top: 15px;
}

#opacity {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .container_piture {
    margin-top: 30px;
    padding: 25px;
  }

  .test {
    width: 90vw;
  }

  .container_infos {
    margin: 25px;
  }

  .box_project {
    margin-top: 35px;
  }

  #opacity {
    padding: 5px;
  }
}

@media screen and (min-width: 1440px) {
  .container_piture {
    margin-top: 60px;
  }

  .test {
    width: 85vw;
  }

  .hr_project {
    height: 6px;
  }

  .container_infos {
    margin: 25px;
  }

  .box_project {
    margin-top: 35px;
  }
}

@media screen and (min-width: 1900px) {
  .container_piture {
    margin-top: 60px;
  }

  .test {
    width: 70vw;
  }

  .hr_project {
    height: 6px;
  }

  .container_infos {
    margin: 25px;
  }

  .box_project {
    margin-top: 35px;
  }
}
