.hr_header {
  margin-top: -10px;
  width: 80%;
  color: #29f3c3;
  background-color: #29f3c3;
}

.hr_2_header {
  height: 30px;
  width: 100%;
  color: #29f3c3;
  background-color: #29f3c3;
}

@media screen and (min-width: 768px) {
  .hr_2_header {
    height: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .hr_2_header {
    height: 70px;
  }
}

@media screen and (min-width: 1900px) {
  .hr_2_header {
    height: 80px;
  }
}
