.connection_container {
  margin-top: 50px;
  padding: 90px;
  background: rgba(255, 255, 255, 0.1);
}

.connection_container_input {
  display: flex;
  justify-content: center;
}

.hr_login {
  height: 4px;
  color: #29f3c3;
  background-color: #29f3c3;
}

.button_login {
  background-color: transparent;
  border: none;
  text-decoration: none;
  background: rgba(87, 87, 87, 0.51);
  padding: 10px;
  margin-top: 25px;
  width: 50%;
  font-size: 0.8em;
}

.button_login:hover {
  outline: none;
  border: 1px solid #29f3c3;
}

.form_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_login input:focus {
  outline: none;
  border: 1px solid #29f3c3;
}

.form_login input {
  background: rgba(87, 87, 87, 0.51);
  color: white;
  font-size: 0.8em;
  border: none;
  padding: 12px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .connection_container {
    margin-top: 80px;
    padding: 180px;
  }

  .hr_login {
    height: 6px;
  }

  .button_login {
    margin-top: 25px;
    width: 30%;
    font-size: 1.1em;
  }

  .form_login input {
    font-size: 0.8em;
    padding: 12px;
    margin-top: 25px;
    width: 300px;
  }
}

@media screen and (min-width: 1440px) {
  .button_login {
    margin-top: 30px;
    font-size: 1.1em;
  }

  .form_login input {
    font-size: 0.9em;
    padding: 15px;
    margin-top: 30px;
  }
}
